###Calibration_Config###
CC_DISTORTION_SEARCH_RANGE 10
CC_DISTORTION_MIN_VALUE	164
CC_DISTORTION_MAX_VALUE	174
CC_DISTORTION_DEFAULT_VALUE	0.0000169
CC_LDC_SCALE_FACTOR 0.2
CC_CAMERA_AUTO_GAIN 20
TC_CAMERA_GAIN 20
TC_IMAGE_SAVE 0

###Pattern_Info###
CC_INT_CHESSBOARD_WIDTH	8
CC_INT_CHESSBOARD_HEIGHT 6
CC_INT_CHESSBOARD_LENGTH 38
CC_EXT_CHESSBOARD_WIDTH 6
CC_EXT_CHESSBOARD_HEIGHT 4
CC_EXT_CHESSBOARD_LENGTH 100
TC_EXT_CHESSBOARD_WIDTH 6
TC_EXT_CHESSBOARD_HEIGHT 4
TC_EXT_CHESSBOARD_LENGTH 70
