
#--------------------------------------------
#  /usr/rcfg/slam_param.cfg  Configuration File
#
#	09/08/21 First created.
#----------------------------------------------

CAMERA_INI_FILE = "cowell_camera.ini"
SLAM_PORT_NUMBER = D'5101
LENS_DISTORTION_VALUE = F'0.017100
LENS_SCALE_FACTOR = F'0.150000
LENS_FOCAL_LENGTH = F'137.232132
CAMERA_ORIGIN_X = F'163.772614
CAMERA_ORIGIN_Y = F'120.678505
CAMERA2ROBOT_X = F'0.000000
CAMERA2ROBOT_Y = F'132.800003
CAMERA2ROBOT_THETA = F'-90.000000
INITIAL_CAMERA_GAIN = H'a
REQUIRED_SHOT_NUM_FOR_VISUAL_BUMPER = D'3
VG_INITIALIZATION_SHOT_NUM = D'3
VG_GLOBALORIGIN_ALIGN_DOCKINGSTART = D'1
VG_GLOBALORIGIN_ALIGN_NOTDOCKINGSTART = D'1
VG_PARALLEL_LINE_VALID_DISTANCE = F'1200.000000

